.App {
  background-color: whitesmoke;
  text-align: initial;
}

.NavigationBar {
  height: 70px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuIcon {
  margin-left: 10px;
}
/* .menuIcon img {
  height: 100%;
  width: 100%;
  color: white;
} */
.icon {
}

.notificationIcon {
  margin-right: 20px;
}

.pageHeaders {
  margin: auto;
  margin-top: 20px;
  height: 50px;
  width: 98%;
  display: flex;
  justify-content: space-between;
}
.url {
  color: blue;
  font-size: x-large;
}
.url-right {
  display: flex;
  justify-content: space-between;
}
.watch {
  height: 30px;
  width: 135px;
  border: 1px solid lightsteelblue;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.watchFirst {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid lightsteelblue;
}
.watchFirst img {
  height: 100%;
  width: 20%;
}
.watchSecond {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.unstar {
  height: 30px;
  width: 130px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
}
.fork {
  height: 30px;
  width: 125px;
  border: 1px solid black;
  border-radius: 5px;
}
.internalNavigation {
  height: 40px;
  width: 98%;
  border-bottom: 1px solid grey;
}

.internalNavigation1 {
  margin: 0px;
  height: 50px;
  width: 98%;
}
#horizontal-list {
  list-style-type: none;
}
#horizontal-list li {
  display: inline;
  margin: 2%;
  font-size: larger;
  cursor: pointer;
  /* border: 1px solid red; */
}

#horizontal-list li img {
  height: 19px;
  width: 19px;
}
#horizontal-list1 {
  list-style-type: none;
}
.focus {
  padding-bottom: 13px;
  border-bottom: 3px solid orange;
}
.NotFocus {
}
#horizontal-list1 li {
  display: inline;
  margin: 2%;
  font-size: larger;
}
#horizontal-list1 li img {
  height: 10px;
  width: 10px;
}
.firstRow {
  margin: auto;
  margin-top: 10px;
  height: 40px;
  width: 90%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
.filters {
  height: 94%;
  width: 50%;
  border: 2px solid lightgrey;
  border-radius: 5px;
  background-color: rgb(231, 240, 248);
  display: flex;
}
.filterTab {
  height: 100%;
  width: 20%;
}
.filterTab button {
  height: 100%;
  width: 100%;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgb(231, 240, 248);
  border-right: 2px solid rgb(170, 167, 167);
  cursor: pointer;
}
.filterTab button img {
  height: 10px;
  width: 10px;
}
.searchBar {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
}
.searchBar img {
  margin-left: 10px;
  height: 70%;
}
.searchBar input {
  margin-left: 10px;
  height: 87%;
  width: 90%;
  background-color: rgb(231, 240, 248);
  border: none;
  font-size: large;
  border-color: transparent;
}
textarea:focus,
input:focus {
  outline: none;
}
.labels-milestones {
  display: flex;
}
.labels {
  height: 94%;
  width: 150px;
  border: 2px solid lightsteelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}
.labels img {
  height: 70%;
}
.milestones {
  height: 94%;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid lightsteelblue;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.milestones img {
  height: 70%;
}
.newIssues {
}
.New-issue {
  /* margin-top: 4px; */
  height: 94%;
  width: 100px;
  border-radius: 5px;
  background-color: rgb(66, 194, 66);
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.open-closed {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
  width: 350px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContentDiv {
  height: auto;
  width: 95%;
  margin: auto;
  /* border: 1px solid lightgrey; */
  border-radius: 5px;
}
.contentNavigationBar {
  background-color: rgb(231, 240, 248);
  border: 2px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* margin: 0px; */
}

.issuesDiv {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 15px;
  height: auto;
  justify-content: center;
  border: 2px solid lightgrey;
  align-items: flex-start;
}
.firstRowIssueDiv {
  height: auto;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  /* border: 1px solid red; */
  /* color: green; */
}
.issueDivLeft {
  color: green;
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
}
.issueDivLeft div {
  /* border: 1px solid red; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}
.issueDivRight {
  margin-right: 10px;
  color: rgb(109, 109, 109);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.issuesDiv span {
  color: black;
  margin-left: 10px;
  font-weight: bold;
  font-size: 25px;
}
.issueDivRight span {
  font-size: 15px;
  font-weight: normal;
}
.description {
  margin-left: 40px;
}
